# Global snippets

# (c) holds no legal value ;)
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet postrcode
	{% highlight r%}
	${1}
	{% endhighlight %}

snippet postheader
	---
	layout: post
	title:  ${1}
	categories: [${2:notes}]
	tags: [${3}]
	---
	${4}
