"*":
  Hydrogen:
    kernelNotifications: true
    kernelspec: '''
      {
        "kernelspecs": {
          "ir": {
            "resource_dir": "/Users/dli/Library/Jupyter/kernels/ir",
            "spec": {
              "language": "R",
              "display_name": "R",
              "env": {},
              "argv": [
                "/Library/Frameworks/R.framework/Resources/bin/R",
                "--slave",
                "-e",
                "IRkernel::main()",
                "--args",
                "{connection_file}"
              ]
            }
          },
          "python2": {
            "resource_dir": "/Users/dli/anaconda/lib/python2.7/site-packages/ipykernel/resources",
            "spec": {
              "language": "python",
              "display_name": "Python 2",
              "env": {},
              "argv": [
                "/Users/dli/anaconda/bin/python",
                "-m",
                "ipykernel",
                "-f",
                "{connection_file}"
              ]
            }
          }
        }
      }
    '''
  Zen:
    showWordCount: "Right"
    softWrap: true
  "atom-material-ui":
    colors:
      accentColor: "#af0010"
      genAccent: true
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 17
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    userId: "1264d4f8-3647-4a74-a401-9899810a416b"
  fonts:
    fontFamily: "Iosevka"
  "julia-client":
    enableMenu: true
    enableToolBar: true
  "language-markdown":
    disableLanguageGfm: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
    hidechars: true
    ignorecode: true
".md.text":
  editor:
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
"source.gfm":
  editor:
    softWrap: true
"text.md":
  editor:
    softWrap: true
